scipy
numpy
pandas
seaborn
matplotlib
scikit-image
sklearn
tensorflow
#tensorflow-gpu
keras
nltk
gensim
opencv-python
#sudo apt-get install libsm6 libxrender1 libfontconfig1
opencv-contrib-python
torch
torchvision
